
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*
{
    margin: 0;
    padding: 0;

}




nav
{
padding: 10px;
display: flex;
align-items: center;
background-color: #FAD824;


}
.aka
{
    padding-left: 900px;
}


a
{
    text-decoration: none;
    color: #000;
    font-size: 38px;
    font-weight: 900;
    margin-left: 18px;
}


.area
    
{
    padding-top: 200px;
    padding-left: 260px;
  
}

.todo
{
  
    display: flex;
    flex-direction: row;
    gap: 150px;
    background-color: #2c2c2c;
  
}

form
{
    padding: 60px;
    border: 5px solid #FAD824;
    border-radius: 20px;
    height: 650px;
    width: 800px;
}


label
{
    padding: 40px;
    color: #fff;
    font-size: 20px;
}

.entrar

{
    background-color: #FAD824;
    font-weight: 600;
    padding: 20px;
    width: 300px;
    margin-left: 20px;
}

#inpu
{
    width: 800px;

}

    
.input
{
    margin: 20px;
    border-radius: 6px;
    font-size: 30px;
    background-color:#2c2c2c ;
    border: 2px solid #FAD824;
    padding: 10px;
}


p
{
color: #FFFFFF;
margin-left: 20px;
font-size: 20px;

}



::placeholder
{
    font-size: 20px;
    
    color: #fff;

}

.mu
{
height: 1200px;
width: 1030px;
margin: 10px;
filter: blur(4px);


}

h3
{
    color: #fff;
    font-size: 50px;
    padding: 20px;
    margin-left: 250px;
}