@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1
{
background-color: #2c2c2c ;
color: #fff;
font-size: 60px;
padding: 40px 30px;

}

nav
{
padding: 10px;
display: flex;
align-items: center;


}


a
{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 900;
    margin-left: 18px;
}

body
{
    background-color: #FAD824;
    font-family: 'Inter', sans-serif;
}





.modalidades
{
  padding: 30px;
  background-color: #2c2c2c;
  display: flex;
}





.card
{
    margin: 30px;
    padding: 30px;
    background-color:#FAD824;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
   
    
}

h5
{
   color: #000;

   font-size: 24px;
   margin: 100px;
  
}



.preto
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    
}

.aka
{
    padding-left: 1200px;
}



h5
{
   color: #000;
    padding: 20px;
   font-size: 24px;
}


.rrr
{
    flex-direction: row;
}

h2
{
    margin: 30px;
    align-items: center;
    padding-left: 180px;
    font-size: 40px;
    font-weight: 900;
}

footer
{
    text-align: center;
    margin: 30px;
    font-weight: 900;
    font-size: 26px;
     
}

.mage
    
{
    display: flex;  
    align-items: flex-end;
    text-align: end;

}
