
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}




nav
{
padding: 10px;

display: flex;
align-items: center;
background-color: #FAD824;


}  

body
{
    font-family: 'Inter', sans-serif;
}
.aka
{
    padding-left: 1200px;
}


a
{
    text-decoration: none;
    color: #000;
    font-size: 34px;
    font-weight: 900;
    margin-left: 18px;
}


.area
    
{
    padding-top: 200px;
    padding-left: 260px;
  
}

.todo
{
  
    display: flex;
    flex-direction: row;
    gap: 150px;
    background-color: #2c2c2c;
  
}

form
{
    padding: 60px;
    border: 5px solid #FAD824;
    border-radius: 20px;
    height: 500px;
    width: 800px;
}


label
{
    padding: 40px;
    color: #fff;
    font-size: 30px;
}

.entrar

{
    background-color: #FAD824;
    font-weight: 600;
    padding: 20px;
    width: 300px;
}

#inpu
{
    width: 800px;

}

input
{
    margin: 20px;
    border-radius: 6px;
    font-size: 30px;
    background-color:#2c2c2c ;
    border: 2px solid #FAD824;
    padding: 10px;
   
}
p
{
color: #FFFFFF;
margin-left: 20px;
font-size: 20px;

}

.clique
{
    font-size: 20px;
    color: #ffffff;
}

::placeholder
{
    font-size: 20px;
    
    color: #fff;

}

.mu
{
height: 1500px;
margin: 40px;
}

h3
{
    color: #fff;
    font-size: 80px;
    padding: 30px;
    margin-left: 250px;
}

footer
{
    background-color: #FAD824;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  color: #000;

}

footer p 
{
    color: #000;
    font-size: 30px;
    font-weight: bolder;
}

