@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}



nav
{
padding: 10px;
margin: 10px;
display: flex;
align-items: center;




}



a
{
    text-decoration: none;
    color: #000;
    font-size: 34px;
    font-weight: bolder;
    margin-left: 18px;
}

body
{
    background-color: #FAD824;
    font-family: 'Inter', sans-serif;
}

h2
{
    font-size: 30px;
}




.ab
{
    width: 100%;
}

.a
{
    
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.aka
{
    width: 100px;
    height: 100px;
    padding-left: 1200px;
   

}
.mage
    
{
    display: flex;  
    align-items: flex-end;
    text-align: end;

}



.corre
{
    font-weight: 900;
    font-size: 10px;
    
}



.modalidades
{
  padding: 30px;
  background-color: #2c2c2c;
  display: flex;
}





.card
{
    margin: 30px;
    padding: 30px;
    background-color:#FAD824;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

h5
{
   color: #000;

   font-size: 24px;
}



.preto
{
    margin-left: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    
}



.texto

{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 30px 20px;
    font-weight: 900;
}


.h33
{
    background-color: #2c2c2c;
    font-size: 40px;
    color: #fff;
    padding: 40px;
}


.baixo
{
    background-color: #2c2c2c;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 200px;
}



.btn
{
    width: 410px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    background-color: #FAD824 ;
    color: #fff;
    margin-left:20px ;
    border-radius: 20px;
}

footer
{
    text-align: center;
    margin: 30px;
    font-weight: 900;
     
}